<div class="container">  

  <!-- Hero -->
  <div class="row weather-hero">
    <h1>Weather Go!</h1>
    <h6>For people on the go. Weather go!</h6>
  </div>

  <div class="app-container">
    <!-- Search component -->
    <search search="ctrl.search"></search> 

    <!-- Today's Weather component -->
    <today weather="ctrl.weather"></today>

    <!-- Five-day forecast component -->
    <forecast five-day="ctrl.fiveDay"></forecast>

    <!-- Search history component -->
    <history history="ctrl.history"></history>
  </div>
</div>

<!-- Footer -->
<footer class="footer">
  <div class="container">
    <span class="text-muted">
    By 
    <a target="_blank" href="https://github.com/JonEricEscobedo">Jon Eric Escobedo</a> 
    for Hack Reactor # 75 - For educational purposes only.
    <a target="_blank" href="https://darksky.net/poweredby/">Powered by Dark Sky</a>, 
    <a target="_blank" href="https://ipinfo.io/">ipinfo.io</a>, and
    <a target="_blank" href="http://www.zippopotam.us/">zippopotam</a>.</span>
  </div>
</footer>