<div class="row weather-forecast jumbotron">
  <table class="table center-me">

    <thead>
      <tr> <!-- Table Headers -->
        <th>{{ctrl.fiveDayForecast.today.time * 1000| date:'EEE'}}</th>
        <th>{{ctrl.fiveDayForecast.day2.time * 1000| date:'EEE'}}</th>
        <th>{{ctrl.fiveDayForecast.day3.time * 1000| date:'EEE'}}</th>
        <th>{{ctrl.fiveDayForecast.day4.time * 1000| date:'EEE'}}</th>
        <th>{{ctrl.fiveDayForecast.day5.time * 1000| date:'EEE'}}</th>
      </tr>
    </thead>

    <tbody>
      <tr> <!-- Min / Max Temperature -->
        <td><span class="high">{{ctrl.fiveDayForecast.today.temperatureMax | number:0}}</span> | <span class="low">{{ctrl.fiveDayForecast.today.temperatureMin | number:0}}</span></td>
        <td><span class="high">{{ctrl.fiveDayForecast.day2.temperatureMax | number:0}}</span> | <span class="low">{{ctrl.fiveDayForecast.day2.temperatureMin | number:0}}</span></td>
        <td><span class="high">{{ctrl.fiveDayForecast.day3.temperatureMax | number:0}}</span> | <span class="low">{{ctrl.fiveDayForecast.day3.temperatureMin | number:0}}</span></td>
        <td><span class="high">{{ctrl.fiveDayForecast.day4.temperatureMax | number:0}}</span> | <span class="low">{{ctrl.fiveDayForecast.day4.temperatureMin | number:0}}</span></td>
        <td><span class="high">{{ctrl.fiveDayForecast.day5.temperatureMax | number:0}}</span> | <span class="low">{{ctrl.fiveDayForecast.day5.temperatureMin | number:0}}</span></td>
      </tr>
      <tr> <!-- Summary -->
        <td>{{ctrl.fiveDayForecast.today.summary}}</td>
        <td>{{ctrl.fiveDayForecast.day2.summary}}</td>
        <td>{{ctrl.fiveDayForecast.day3.summary}}</td>
        <td>{{ctrl.fiveDayForecast.day4.summary}}</td>
        <td>{{ctrl.fiveDayForecast.day5.summary}}</td>
      </tr>
    </tbody>

  </table>

</div>

