<div class="row weather-forecast jumbotron">
  <table class="table center-me">

    <thead>
      <tr> <!-- Table Headers -->
        <!-- <th class="center-me">{{ctrl.fiveDay[0].time * 1000| date:'EEE'}}</th> -->
        <th class="center-me">Today</th>
        <th class="center-me">{{ctrl.fiveDay[1].time * 1000| date:'EEE'}}</th>
        <th class="center-me">{{ctrl.fiveDay[2].time * 1000| date:'EEE'}}</th>
        <th class="center-me">{{ctrl.fiveDay[3].time * 1000| date:'EEE'}}</th>
        <th class="center-me">{{ctrl.fiveDay[4].time * 1000| date:'EEE'}}</th>
      </tr>
    </thead>

    <tbody>
      <tr> <!-- Min / Max Temperature -->
        <td><span class="high">{{ctrl.fiveDay[0].temperatureMax | number:0}}</span> | <span class="low">{{ctrl.fiveDay[0].temperatureMin | number:0}}</span></td>
        <td><span class="high">{{ctrl.fiveDay[1].temperatureMax | number:0}}</span> | <span class="low">{{ctrl.fiveDay[1].temperatureMin | number:0}}</span></td>
        <td><span class="high">{{ctrl.fiveDay[2].temperatureMax | number:0}}</span> | <span class="low">{{ctrl.fiveDay[2].temperatureMin | number:0}}</span></td>
        <td><span class="high">{{ctrl.fiveDay[3].temperatureMax | number:0}}</span> | <span class="low">{{ctrl.fiveDay[3].temperatureMin | number:0}}</span></td>
        <td><span class="high">{{ctrl.fiveDay[4].temperatureMax | number:0}}</span> | <span class="low">{{ctrl.fiveDay[4].temperatureMin | number:0}}</span></td>
      </tr>
      <tr> <!-- Summary -->
        <td>{{ctrl.fiveDay[0].summary}}</td>
        <td>{{ctrl.fiveDay[1].summary}}</td>
        <td>{{ctrl.fiveDay[2].summary}}</td>
        <td>{{ctrl.fiveDay[3].summary}}</td>
        <td>{{ctrl.fiveDay[4].summary}}</td>
      </tr>
    </tbody>

  </table>

</div>

