.weather-hero {

}

.weather-search  {
  
}

.weather-today  {
  
}

.weather-forecast  {
  
}

#city-state {
  font-size: 2.5em;
  text-align: center;
}

#temperature {
  text-align: center;
}

#summary {
  text-align: center;
}