.weather-hero {

}

.weather-search  {
  
}

.weather-today  {
  
}

.weather-forecast  {
  
}

.high {
  color: #F0AD4E;
}

.low {
  color: #539BD2;
}

.app-container {
  margin-top: 40px;
}
#city-state {
  font-size: 3em;
  text-align: center;
}

#temperature {
  text-align: center;
}

#summary {
  text-align: center;
}

.center-me {
  text-align: center;
}
