.weather-hero {

}

.weather-search  {
  
}

.weather-today  {
  
}

.weather-forecast  {
  
}

#city-state {
  font-size: 3em;
  text-align: center;
}

#temperature {
  text-align: center;
}

#summary {
  text-align: center;
}

#center-me {
  align-items: center;
}

.high {
  color: #F0AD4E;
}

.low {
  color: #539BD2;
}